body {
	background-color: #819193;
}

header{
	font-family: Arial;
	font-size: 3.5em;
	color: #FFFFFF;
	text-align: center;
}
h1{
	font-family: Verdana;
	color: whitesmoke;

}

img.finalpic{
	width: 700px;
    height: auto;
}
p.title{
	font-family: Verdana;
	font-size: 2.5em;
	color: whitesmoke;
}

p.stitle{
	font-family: Verdana;
	font-size: 2em;
	color: whitesmoke;
}
#welcome{
	text-align:center;
}

p.content{
	font-family: Verdana;
	font-size: 1em;
	color: whitesmoke;
}
p{
	font-family: Verdana;
	font-size: 1.5em;
	color: whitesmoke;
}

#accomplishmentsbutton{
	padding: 1em 1em;
	background-color: #000000;
	opacity:0.9;
	width: 11em;
	color:whitesmoke;
}
.aactive{
	background-color: #FFFFFF;
	color:black;
}
.active {
	background-color: #A9A3A3;
	
}
#accomplishments{
	list-style-type: none;
	margin:0;
	padding-left: 1em;
	overflow: hidden;
	color:whitesmoke;
	
}

nav ul {
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: #95B7BB
}

nav ul li{
	float: left;
	border-right: 1px solid#bbb;
}

nav ul li:last-child{
	border-right:none;
}

nav ul li a {
	display:block;
	font-family: Arial;
	font-size: 1em;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}


@media screen and (max-width: 600px){
    nav ul li {float: none;}
}
@media screen and (max-width:768px){
	#indexpic{
		width:17em;
		height:25em;
	}
	#resume{
		width:100%;
		height:auto;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	#indexpic{
		width:25em;
		height:38em;
	}
	#resume{
		width:98%;
		height:auto;
	}
}

img.center{
display: block;
  margin-left: auto;
  margin-right: auto;
}


#footer{
	text-align: center !important;
	background-color: #95B7BB;
}

/*nav bar inspired from w3schools tutorial*/