body {
	background-color: #819193;
}

header{
	font-family: Arial;
	font-size: 2.5em;
	color: #FFFFFF;
}
h1{
	font-family: Verdana;
	color: whitesmoke;

}

p{
	font-family: Verdana;
	color: whitesmoke;
}

#accomplishmentsbutton{
	padding: 1em 1em;
	background-color: #000000;
	opacity:0.9;
	width: 11em;
	color:whitesmoke;
}
.aactive{
	background-color: #FFFFFF;
	color:black;
}
.active {
	background-color: #A9A3A3;
	
}
#accomplishments{
	list-style-type: none;
	margin:0;
	padding-left: 1em;
	overflow: hidden;
	color:whitesmoke;
	
}

nav ul {
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: #95B7BB
}

nav ul li{
	float: left;
	border-right: 1px solid#bbb;
}

nav ul li:last-child{
	border-right:none;
}

nav ul li a {
	display:block;
	font-family: Arial;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}


@media screen and (max-width: 600px){
    nav ul li {float: none;}
}


#footer{

	text-align: center !important;
	background-color: #95B7BB;
}

/*nav bar inspired from w3schools tutorial*/